.program-detail-container {
  padding: 20px;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

.program-detail h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.program-details {
  background-color: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.program-details h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.program-details p {
  font-size: 1em;
  margin-bottom: 15px;
}

.program-details ul {
  list-style-type: none;
  padding-left: 0;
}

.program-details li {
  font-size: 1em;
  margin: 5px 0;
}
